<form [formGroup]="form">


  <div class="row">
    <div class="form-group col-{{field.col || 'sm-6'}}" [ngClass]="field.class" *ngFor="let field of fields">
      <label for="{{field.id}}">{{field.label | translate}} <small *ngIf='field.info'>{{field.info | translate}}</small></label>


      <rf-input-text *ngIf='field.type==="text"' [group]='form' [field]='field' [request]='request'></rf-input-text>

      <rf-input-float *ngIf='field.type==="float"' [group]='form' [field]='field' [request]='request'></rf-input-float>

      <rf-select *ngIf='field.type==="select"' [group]='form' [field]='field' [request]='request'></rf-select>

      <rf-enumselect *ngIf='field.type==="enumselect"' [group]='form' [field]='field' [request]='request'></rf-enumselect>

      <rf-datetime-picker *ngIf='field.type==="datetime"' [group]='form' [field]='field' [request]='request'></rf-datetime-picker>

      <rf-time-picker *ngIf='field.type==="time"' [group]='form' [field]='field' [request]='request'></rf-time-picker>

      <rf-switch *ngIf='field.type==="boolean"' [group]='form' [field]='field' [request]='request'></rf-switch>

      <!--<input *ngIf='field.type==="datetime"' [formControlName]='field.id' name='{{field.id}}' [(ngModel)]="request[field.id]" class='form-control'
        ng2-datetime-picker close-on-select="false" />-->



      <!--<input *ngIf='field.type==="number "' name='{{field.id}}' type='number' class='form-control' [(ngModel)]="request[field.id] "
    />

   

    <input *ngIf='field.type==="email "' name='{{field.id}}' type='email' class='form-control' [(ngModel)]="request[field.id] "
    />

    <input *ngIf='field.type==="hidden "' name='{{field.id}}' type='hidden' class='form-control' [(ngModel)]="request[field.id] "
    />

  


    <select *ngIf='field.type==="groupSelect "' name='{{field.id}}' class='form-control' [(ngModel)]="request[field.id]
        " (ngModelChange)="onChange(field, $event) ">
      <option [ngValue]="null " >-- All --</option>
      <optgroup label="{{group.label}} " *ngFor="let group of field.options ">
        <option [ngValue]="option[field.optionValue] " *ngFor="let option of group.values ">
          {{option[field.optionText]}}
        </option>
      </optgroup>
    </select>

    <select *ngIf='field.type==="dayOfWeek "' name='{{field.id}}' class='form-control' [(ngModel)]="request[field.id]
        " (ngModelChange)="onChange(field, $event) ">
      <option [ngValue]="option.val " *ngFor="let option of daysOfWeek ">
        {{option.text}}
      </option>
    </select>





    <select multiple *ngIf='field.type==="multiselect "' name='{{field.id}}' class='form-control' [(ngModel)]="request[field.id] ">
      <option [ngValue]="option[field.optionValue] " *ngFor="let option of field.options ">
        {{option[field.optionText]}}
      </option>
    </select>

    <input *ngIf='field.type==="time "' name='{{field.id}}' [(ngModel)]="request[field.id] " date-format='HH:mm' parse-format='HH:mm'
      class='form-control' ng2-datetime-picker close-on-select="false " time-only="true " />

    <input *ngIf='field.type==="date "' name='{{field.id}}' [(ngModel)]="request[field.id] " class='form-control' ng2-datetime-picker
      close-on-select="false " date-only="true " />

 

    <label *ngIf='field.type==="boolean "' class="switch switch-icon switch-pill switch-primary-outline-alt ">
        <input type="checkbox " class="switch-input " checked="{{request[field.id]}} " [(ngModel)]="request[field.id] " >
        <span class="switch-label " data-on="yes " data-off="no "></span>
        <span class="switch-handle "></span>
    </label>

    <textarea *ngIf='field.type==="textarea "' name='{{field.id}}' class='form-control' [(ngModel)]="request[field.id] "></textarea>-->

      <!--
      <small [hidden]="form.controls[field.id].valid || (form.controls[field.id].pristine) ">
       Required
     </small>-->

    </div>
  </div>
</form>